{
    "presets": [
        [
            "@babel/preset-env",
            {
                "exclude": ["transform-regenerator"] //prevents "ReferenceError: regeneratorRuntime is not defined" error when testing

            } 
        ]       
    ]
}
