<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Trivia</title>
    </head>
    <header>
        <div class="logo">
            Trivia
        </div>
    </header>
<body>
        <form method="post" action="/post_qs">
			<p>Question 1</p>
            <textarea class='question' name='q1'></textarea>
            <select name="correct1">
				<option value="a">A</option>
				<option value="b">B</option>
				<option value="c">C</option>
				<option value="d">D</option>
			</select> 
			A<input type='text' name='option1_q1' class='answer'>
			B<input type='text' name='option2_q1' class='answer'>
			C<input type='text' name='option3_q1' class='answer'>
			D<input type='text' name='option4_q1' class='answer'>
			<br>
			<p>Question 2</p>
			<textarea class='question' name='q2'></textarea>
            <select name="correct2">
				<option value="a">A</option>
				<option value="b">B</option>
				<option value="c">C</option>
				<option value="d">D</option>
			</select> 
			A<input type='text' name='option1_q2' class='answer'>
			B<input type='text' name='option2_q2' class='answer'>
			C<input type='text' name='option3_q2' class='answer'>
			D<input type='text' name='option4_q2' class='answer'>
			<br>
			<p>Question 3</p>
			<textarea class='question' name='q3'></textarea>
            <select name="correct3">
				<option value="a">A</option>
				<option value="b">B</option>
				<option value="c">C</option>
				<option value="d">D</option>
			</select> 
			A<input type='text' name='option1_q3' class='answer'>
			B<input type='text' name='option2_q3' class='answer'>
			C<input type='text' name='option3_q3' class='answer'>
			D<input type='text' name='option4_q3' class='answer'>
            <br>
			<p>Question 4</p>
			<textarea class='question' name='q4'></textarea>
            <select name="correct4">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q4' class='answer'>
                B<input type='text' name='option2_q4' class='answer'>
                C<input type='text' name='option3_q4' class='answer'>
                D<input type='text' name='option4_q4' class='answer'>
                <br>            
            
			<p>Question 5</p>
			<textarea class='question' name='q5'></textarea>
            <select name="correct5">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q5' class='answer'>
                B<input type='text' name='option2_q5' class='answer'>
                C<input type='text' name='option3_q5' class='answer'>
                D<input type='text' name='option4_q5' class='answer'>
                <br> 
            
			<p>Question 6</p>
			<textarea class='question' name='q6'></textarea>
            <select name="correct6">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q6' class='answer'>
                B<input type='text' name='option2_q6' class='answer'>
                C<input type='text' name='option3_q6' class='answer'>
                D<input type='text' name='option4_q6' class='answer'>
                <br>
        
            <p>Question 7</p>
			<textarea class='question' name='q7'></textarea>
            <select name="correct7">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q7' class='answer'>
                B<input type='text' name='option2_q7' class='answer'>
                C<input type='text' name='option3_q7' class='answer'>
                D<input type='text' name='option4_q7' class='answer'>
                <br>
        
            <p>Question 8</p>
			<textarea class='question' name='q8'></textarea>
            <select name="correct8">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q8' class='answer'>
                B<input type='text' name='option2_q8' class='answer'>
                C<input type='text' name='option3_q8' class='answer'>
                D<input type='text' name='option4_q8' class='answer'>
                <br>
        
            <p>Question 9</p>
			<textarea class='question' name='q9'></textarea>
            <select name="correct9">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q9' class='answer'>
                B<input type='text' name='option2_q9' class='answer'>
                C<input type='text' name='option3_q9' class='answer'>
                D<input type='text' name='option4_q9' class='answer'>
                <br>
        
            <p>Question 10</p>
			<textarea class='question' name='q10'></textarea>
            <select name="correct10">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q10' class='answer'>
                B<input type='text' name='option2_q10' class='answer'>
                C<input type='text' name='option3_q10' class='answer'>
                D<input type='text' name='option4_q10' class='answer'>
                <br>
        
            <p>Question 11</p>
			<textarea class='question' name='q11'></textarea>
            <select name="correct11">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q11' class='answer'>
                B<input type='text' name='option2_q11' class='answer'>
                C<input type='text' name='option3_q11' class='answer'>
                D<input type='text' name='option4_q11' class='answer'>
                <br>
            
			<p>Question 12</p>
			<textarea class='question' name='q12'></textarea>
            <select name="correct12">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q12' class='answer'>
                B<input type='text' name='option2_q12' class='answer'>
                C<input type='text' name='option3_q12' class='answer'>
                D<input type='text' name='option4_q12' class='answer'>
                <br>
            
			<p>Question 13</p>
			<textarea class='question' name='q13'></textarea>
            <select name="correct13">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q13' class='answer'>
                B<input type='text' name='option2_q13' class='answer'>
                C<input type='text' name='option3_q13' class='answer'>
                D<input type='text' name='option4_q13' class='answer'>
                <br>
            
			<p>Question 14</p>
			<textarea class='question' name='q14'></textarea>
            <select name="correct14">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q14' class='answer'>
                B<input type='text' name='option2_q14' class='answer'>
                C<input type='text' name='option3_q14' class='answer'>
                D<input type='text' name='option4_q14' class='answer'>
                <br>
            
			<p>Question 15</p>
			<textarea class='question' name='q15'></textarea>
            <select name="correct15">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q15' class='answer'>
                B<input type='text' name='option2_q15' class='answer'>
                C<input type='text' name='option3_q15' class='answer'>
                D<input type='text' name='option4_q15' class='answer'>
                <br>
            
			<p>Question 16</p>
			<textarea class='question' name='q16'></textarea>
            <select name="correct16">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q16' class='answer'>
                B<input type='text' name='option2_q16' class='answer'>
                C<input type='text' name='option3_q16' class='answer'>
                D<input type='text' name='option4_q16' class='answer'>
                <br>
            
			<p>Question 17</p>
			<textarea class='question' name='q17'></textarea>
            <select name="correct17">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q17' class='answer'>
                B<input type='text' name='option2_q17' class='answer'>
                C<input type='text' name='option3_q17' class='answer'>
                D<input type='text' name='option4_q17' class='answer'>
                <br>
            
			<p>Question 18</p>
			<textarea class='question' name='q18'></textarea>
            <select name="correct18">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q18' class='answer'>
                B<input type='text' name='option2_q18' class='answer'>
                C<input type='text' name='option3_q18' class='answer'>
                D<input type='text' name='option4_q18' class='answer'>
                <br>
            
			<p>Question 19</p>
			<textarea class='question' name='q19'></textarea>
            <select name="correct19">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q19' class='answer'>
                B<input type='text' name='option2_q19' class='answer'>
                C<input type='text' name='option3_q19' class='answer'>
                D<input type='text' name='option4_q19' class='answer'>
                <br>
            
			<p>Question 20</p>
			<textarea class='question' name='q20'></textarea>
            <select name="correct20">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q20' class='answer'>
                B<input type='text' name='option2_q20' class='answer'>
                C<input type='text' name='option3_q20' class='answer'>
                D<input type='text' name='option4_q20' class='answer'>
                <br>
            
			<p>Question 21</p>
			<textarea class='question' name='q21'></textarea>
            <select name="correct20">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q21' class='answer'>
                B<input type='text' name='option2_q21' class='answer'>
                C<input type='text' name='option3_q21' class='answer'>
                D<input type='text' name='option4_q21' class='answer'>
                <br>
            
			<p>Question 22</p>
			<textarea class='question' name='q22'></textarea>
            <select name="correct22">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q22' class='answer'>
                B<input type='text' name='option2_q22' class='answer'>
                C<input type='text' name='option3_q22' class='answer'>
                D<input type='text' name='option4_q22' class='answer'>
                <br>
            
			<p>Question 23</p>
			<textarea class='question' name='q23'></textarea>
            <select name="correct23">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q23' class='answer'>
                B<input type='text' name='option2_q23' class='answer'>
                C<input type='text' name='option3_q23' class='answer'>
                D<input type='text' name='option4_q23' class='answer'>
                <br>
            
			<p>Question 24</p>
			<textarea class='question' name='q24'></textarea>
            <select name="correct24">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q24' class='answer'>
                B<input type='text' name='option2_q24' class='answer'>
                C<input type='text' name='option3_q24' class='answer'>
                D<input type='text' name='option4_q24' class='answer'>
                <br>
            
			<p>Question 25</p>
			<textarea class='question' name='q25'></textarea>
            <select name="correct25">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                </select> 
                A<input type='text' name='option1_q25' class='answer'>
                B<input type='text' name='option2_q25' class='answer'>
                C<input type='text' name='option3_q25' class='answer'>
                D<input type='text' name='option4_q25' class='answer'>
                <br>
            
			<input type="submit" name="sub" id="sub" value="Submit" onsubmit="return Client.handleSubmit();"><br>
        </form>
        
</body>