<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Trivia</title>
        <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
        <link href="/styles/base.css" rel="stylesheet">
        <link href="/styles/admin_styles.css" rel="stylesheet">
        <style>
            @media only screen and (max-width: 922px){
              .container {
                display: grid;
                grid-template-columns: 20vw 60vw 20vw;
                margin-top: -10vh;
              }
              .admin_signin {
                grid-column: 2;
              }
              .admin_signin input, .secretWord {
                width: 100%;
              }
            }
          </style>
    </head>
    <header>
        <div class="logo">
            Woody's Trivia
        </div>
    </header>
    <body>
        <main class="container">
        <h2 class="adminLogin">Admin Login</h2>
        <% if(lgnError) { %>
            <div class="error"> <%= lgnError %> </div>
        <% } %> 
        <form class="admin_signin" method="post" action="/admin_signin">
            <label for="adminUsername">Input email</label><br>
            <input class="adminUsername" name="adminUsername" type="email" placeholder="john.doe@gmail.com" required/><br>
            <label for="admin_pw">Input password </label><br>
            <input type="password" name="admin_pw" required /><br>
            <label for="secretWord">Select secret word</label><br>
            <select class="secretWord" name="secretWord">
                <option value="version">version</option>
                <option value="oven">oven</option>
                <option value="hall">hall</option>
                <option value="tension">tension</option>
                <option value="tea">tea</option>
                <option value="studio">studio</option>
                <option value="failure">failure</option>
                <option value="college">college</option>
                <option value="science">science</option>
                <option value="coffee">coffee</option>
            </select><br><br>
            <input type="submit" class="submitButton" value="Submit"/>
        </form>
        </main>
        <!--
        <p>Create Team or Create Questions?</p>
        <a href="create_team.html"><button>Create Team</button></a> &nbsp; <a href="create_questions.html"><button>Create Questions</button></a>
        -->
    </body>
</html>