<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Trivia</title>
    </head>
    <header>
        <div class="logo">
            Trivia
        </div>
    </header>
<body>
    <h2>*If you want a question to be True/False, make sure you include (T/F) in the body of the question and type "True" in the answer A slot and "False" in the answer B slot!*</h2>
    <div id="countdown"></div>
    <button onclick="showTime();">Show Time</button>    
    <form method="post" action="/post_qs">
            <label for="start_date">Select Trivia Start Date: </label><br>
            <input type="date" name="start_date" id="start_date" required/><br><br>
            <label for="start_time">Select Trivia Start Time: </label><br>
            <input type="time" name="start_time" id="start_time" required/><br><br>

			<p>Question 1</p>
            <textarea class='question' name='q1'></textarea>
            <select name="correct1" class="correct">
                <option value="" selected="selected"></option>
				<option value="a">A</option>
				<option value="b">B</option>
				<option value="c">C</option>
                <option value="d">D</option>
                <option value="t">True</option>
                <option value="f">False</option> 
			</select> 
			A<input type='text' name='option1_q1' class='answer answer1'>
			B<input type='text' name='option2_q1' class='answer answer2'>
			C<input type='text' name='option3_q1' class='answer answer3'>
			D<input type='text' name='option4_q1' class='answer answer4'>
			<br>
			<p>Question 2</p>
			<textarea class='question' name='q2'></textarea>
            <select name="correct2" class="correct">
                <option value="" selected="selected"></option>
				<option value="a">A</option>
				<option value="b">B</option>
				<option value="c">C</option>
                <option value="d">D</option>
                <option value="t">True</option>
                <option value="f">False</option> 
			</select> 
			A<input type='text' name='option1_q2' class='answer answer1'>
			B<input type='text' name='option2_q2' class='answer answer2'>
			C<input type='text' name='option3_q2' class='answer answer3'>
			D<input type='text' name='option4_q2' class='answer answer4'>
			<br>
			<p>Question 3</p>
			<textarea class='question' name='q3'></textarea>
            <select name="correct3" class="correct">
                <option value="" selected="selected"></option>
				<option value="a">A</option>
				<option value="b">B</option>
				<option value="c">C</option>
                <option value="d">D</option>
                <option value="t">True</option>
                <option value="f">False</option> 
			</select> 
			A<input type='text' name='option1_q3' class='answer answer1'>
			B<input type='text' name='option2_q3' class='answer answer2'>
			C<input type='text' name='option3_q3' class='answer answer3'>
			D<input type='text' name='option4_q3' class='answer answer4'>
            <br>
			<p>Question 4</p>
			<textarea class='question' name='q4'></textarea>
            <select name="correct4" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q4' class='answer answer1'>
                B<input type='text' name='option2_q4' class='answer answer2'>
                C<input type='text' name='option3_q4' class='answer answer3'>
                D<input type='text' name='option4_q4' class='answer answer4'>
                <br>            
            
			<p>Question 5</p>
			<textarea class='question' name='q5'></textarea>
            <select name="correct5" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q5' class='answer answer1'>
                B<input type='text' name='option2_q5' class='answer answer2'>
                C<input type='text' name='option3_q5' class='answer answer3'>
                D<input type='text' name='option4_q5' class='answer answer4'>
                <br> 
            
			<p>Question 6</p>
			<textarea class='question' name='q6'></textarea>
            <select name="correct6" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q6' class='answer answer1'>
                B<input type='text' name='option2_q6' class='answer answer2'>
                C<input type='text' name='option3_q6' class='answer answer3'>
                D<input type='text' name='option4_q6' class='answer answer4'>
                <br>
        
            <p>Question 7</p>
			<textarea class='question' name='q7'></textarea>
            <select name="correct7" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q7' class='answer answer1'>
                B<input type='text' name='option2_q7' class='answer answer2'>
                C<input type='text' name='option3_q7' class='answer answer3'>
                D<input type='text' name='option4_q7' class='answer answer4'>
                <br>
        
            <p>Question 8</p>
			<textarea class='question' name='q8'></textarea>
            <select name="correct8" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q8' class='answer answer1'>
                B<input type='text' name='option2_q8' class='answer answer2'>
                C<input type='text' name='option3_q8' class='answer answer3'>
                D<input type='text' name='option4_q8' class='answer answer4'>
                <br>
        
            <p>Question 9</p>
			<textarea class='question' name='q9'></textarea>
            <select name="correct9" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q9' class='answer answer1'>
                B<input type='text' name='option2_q9' class='answer answer2'>
                C<input type='text' name='option3_q9' class='answer answer3'>
                D<input type='text' name='option4_q9' class='answer answer4'>
                <br>
        
            <p>Question 10</p>
			<textarea class='question' name='q10'></textarea>
            <select name="correct10" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q10' class='answer answer1'>
                B<input type='text' name='option2_q10' class='answer answer2'>
                C<input type='text' name='option3_q10' class='answer answer3'>
                D<input type='text' name='option4_q10' class='answer answer4'>
                <br>
        
            <p>Question 11</p>
			<textarea class='question' name='q11'></textarea>
            <select name="correct11" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q11' class='answer answer1'>
                B<input type='text' name='option2_q11' class='answer answer2'>
                C<input type='text' name='option3_q11' class='answer answer3'>
                D<input type='text' name='option4_q11' class='answer answer4'>
                <br>
            
			<p>Question 12</p>
			<textarea class='question' name='q12'></textarea>
            <select name="correct12" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q12' class='answer answer1'>
                B<input type='text' name='option2_q12' class='answer answer2'>
                C<input type='text' name='option3_q12' class='answer answer3'>
                D<input type='text' name='option4_q12' class='answer answer4'>
                <br>
            
			<p>Question 13</p>
			<textarea class='question' name='q13'></textarea>
            <select name="correct13" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q13' class='answer answer1'>
                B<input type='text' name='option2_q13' class='answer answer2'>
                C<input type='text' name='option3_q13' class='answer answer3'>
                D<input type='text' name='option4_q13' class='answer answer4'>
                <br>
            
			<p>Question 14</p>
			<textarea class='question' name='q14'></textarea>
            <select name="correct14" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q14' class='answer answer1'>
                B<input type='text' name='option2_q14' class='answer answer2'>
                C<input type='text' name='option3_q14' class='answer answer3'>
                D<input type='text' name='option4_q14' class='answer answer4'>
                <br>
            
			<p>Question 15</p>
			<textarea class='question' name='q15'></textarea>
            <select name="correct15" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q15' class='answer answer1'>
                B<input type='text' name='option2_q15' class='answer answer2'>
                C<input type='text' name='option3_q15' class='answer answer3'>
                D<input type='text' name='option4_q15' class='answer answer4'>
                <br>
            
			<p>Question 16</p>
			<textarea class='question' name='q16'></textarea>
            <select name="correct16" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q16' class='answer answer1'>
                B<input type='text' name='option2_q16' class='answer answer2'>
                C<input type='text' name='option3_q16' class='answer answer3'>
                D<input type='text' name='option4_q16' class='answer answer4'>
                <br>
            
			<p>Question 17</p>
			<textarea class='question' name='q17'></textarea>
            <select name="correct17" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q17' class='answer answer1'>
                B<input type='text' name='option2_q17' class='answer answer2'>
                C<input type='text' name='option3_q17' class='answer answer3'>
                D<input type='text' name='option4_q17' class='answer answer4'>
                <br>
            
			<p>Question 18</p>
			<textarea class='question' name='q18'></textarea>
            <select name="correct18" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q18' class='answer answer1'>
                B<input type='text' name='option2_q18' class='answer answer2'>
                C<input type='text' name='option3_q18' class='answer answer3'>
                D<input type='text' name='option4_q18' class='answer answer4'>
                <br>
            
			<p>Question 19</p>
			<textarea class='question' name='q19'></textarea>
            <select name="correct19" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q19' class='answer answer1'>
                B<input type='text' name='option2_q19' class='answer answer2'>
                C<input type='text' name='option3_q19' class='answer answer3'>
                D<input type='text' name='option4_q19' class='answer answer4'>
                <br>
            
			<p>Question 20</p>
			<textarea class='question' name='q20'></textarea>
            <select name="correct20" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q20' class='answer answer1'>
                B<input type='text' name='option2_q20' class='answer answer2'>
                C<input type='text' name='option3_q20' class='answer answer3'>
                D<input type='text' name='option4_q20' class='answer answer4'>
                <br>
            
			<p>Question 21</p>
			<textarea class='question' name='q21'></textarea>
            <select name="correct21" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q21' class='answer answer1'>
                B<input type='text' name='option2_q21' class='answer answer2'>
                C<input type='text' name='option3_q21' class='answer answer3'>
                D<input type='text' name='option4_q21' class='answer answer4'>
                <br>
            
			<p>Question 22</p>
			<textarea class='question' name='q22'></textarea>
            <select name="correct22" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q22' class='answer answer1'>
                B<input type='text' name='option2_q22' class='answer answer2'>
                C<input type='text' name='option3_q22' class='answer answer3'>
                D<input type='text' name='option4_q22' class='answer answer4'>
                <br>
            
			<p>Question 23</p>
			<textarea class='question' name='q23'></textarea>
            <select name="correct23" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q23' class='answer answer1'>
                B<input type='text' name='option2_q23' class='answer answer2'>
                C<input type='text' name='option3_q23' class='answer answer3'>
                D<input type='text' name='option4_q23' class='answer answer4'>
                <br>
            
			<p>Question 24</p>
			<textarea class='question' name='q24'></textarea>
            <select name="correct24" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option> 
                </select> 
                A<input type='text' name='option1_q24' class='answer answer1'>
                B<input type='text' name='option2_q24' class='answer answer2'>
                C<input type='text' name='option3_q24' class='answer answer3'>
                D<input type='text' name='option4_q24' class='answer answer4'>
                <br>
            
			<p>Question 25</p>
			<textarea class='question' name='q25'></textarea>
            <select name="correct25" class="correct">
                    <option value="" selected="selected"></option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="t">True</option>
                    <option value="f">False</option>                    
                </select> 
                A<input type='text' name='option1_q25' class='answer answer1'>
                B<input type='text' name='option2_q25' class='answer answer2'>
                C<input type='text' name='option3_q25' class='answer answer3'>
                D<input type='text' name='option4_q25' class='answer answer4'>
                <br><br>
            <!--onsubmit="return Client.handleSubmit();"-->
            <input type="submit" name="sub" id="sub" value="Submit" >
        </form>
        <br>
        <input type="button" class="retrieve" value="Retrieve Questions/Answers" onclick="updateUI();"/>

        <script>
            const questions = document.querySelectorAll(".question");
            const answer1 = document.querySelectorAll(".answer1");
            const answer2 = document.querySelectorAll(".answer2");
            const answer3 = document.querySelectorAll(".answer3");
            const answer4 = document.querySelectorAll(".answer4");
            const correct = document.querySelectorAll(".correct");
            const start_date = document.getElementById('start_date');
            const start_time = document.getElementById('start_time');

            const showTime = () => {
                //console.log(start_date.value);
                /*
                const strArr = start_date.value.split('T');
                const date = strArr[0];
                const time = strArr[1];
                */
                //console.log(`Date: ${date}, Time: ${time}`); 
                let newDt = new Date(Date.parse(`${start_date.value}T${start_time.value}:00.000-06:00`));
                console.log(newDt);
                //example string: 2020-11-24T19:00
            };

            //fetches api responses from local server and acts as execution control for helper functions
            const updateUI = async () => { 

                const res = await fetch(`/get_qs`);
                try {
                    //form.classList.add('hide');
                    const resp = await res.text();
                    try {
                        
                        //option1_q1.innerHTML = resp.choice1  
                        console.log(resp);
                        //console.log(JSON.parse(resp));
                        let parsed = JSON.parse(resp);
                        questions.forEach((question, i=0) => {
                            question.value = parsed[i].q;
                            i++;
                        });
                        correct.forEach((right, i=0) => {
                            right.value = parsed[i].correct;
                            i++;
                        });
                        answer1.forEach((option, i=0) => {
                            option.value = parsed[i].option1;
                            i++;
                        });
                        answer2.forEach((answer, i=0) => {
                            answer.value = parsed[i].option2;
                            i++;
                        });
                        answer3.forEach((answer, i=0) => {
                            answer.value = parsed[i].option3;
                            i++;
                        });
                        answer4.forEach((answer, i=0) => {
                            answer.value = parsed[i].option4;
                            i++;
                        });          
                    
                    }
                    catch(err){
                        console.log(err);
                    }
                }
                catch(error){
                    console.log(error);
                }
                
            };
        </script>

</body>
</html>