<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Woody's Tuesday Night Trivia</title>
        <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
        <link href="/styles/base.css" rel="stylesheet" type="text/css"/>
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
        <style>
            body {
                margin: 0;
                padding: 0;
                color: white;
                background: -webkit-linear-gradient(top, #020102 1%,#e12b2e 100%);    
            }
            @media only screen and (max-width: 1200px){
                main {
                    display: grid;
                    grid-template-columns: 20vw 60vw 20vw;
                    grid-template-rows: 100vh;
                    justify-content: center;
                    align-items: center;
                }
            }
        </style>

    </head>
    <body>
        <main>
            <section>
                <% if (login_error) { %>
                    <div class="error"> <%= login_error %> </div>
                <% } %> 
                <h1>Team: <%= team %></h1>
                <h1>Scores: </h1>
                <div class="scoreboard">                                      
                </div>
                <br>
            </section>
        </main>
        <script>
            const scoreboard = document.querySelector('.scoreboard');
            const logout_btn = document.querySelector('.logout_btn');
            const logoutForm = document.querySelector('.logout_form');
            let teamNames = '<%= teamNames %>'.split(',');
            let teamTotals = '<%= teamTotals %>'.split(',');
            let markup = '';

            let arr = [];

            let team = {
                name: '',
                score: 0
            }
            
            for(let i=0; i<teamNames.length; i++){
               // markup += `<li style="list-style: none;">${teamNames[i]}: ${teamTotals[i]}</li>`;
                let newTeam = Object.assign({}, team, {name: `${teamNames[i]}`, score: `${teamTotals[i]}`});
                arr.push(newTeam);
            }

            let newArr = arr.sort((a, b) => (Number(a.score) < Number(b.score)) ? 1: -1);

            for(let x of newArr){
                markup += `<li style="list-style: none;">${x.name}: ${x.score}</li>`;
            }

            scoreboard.insertAdjacentHTML('afterbegin', markup);
            
        </script>
    </body>
</html>