<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Woody's Tuesday Night Trivia</title>
        <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
        <link href="/styles/base.css" rel="stylesheet" type="text/css"/>
        <style>
            main {
                display: grid;
                justify-content: center;
                align-items: center;
                font-size: 1.5em;
                grid-template-columns: 100vw;
                text-align: center;
            }
            section {
                grid-column: 1;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <main>
            <section>
                <h1>Welcome, <%= userInfo.userName %>!</h1>
                    <h2 id="message"></h2>

                 <h1 id="begin">Start Time: </h1>
                 <h2 id="start"></h2>
            </section>
        </main>
            <script>
                const message = document.getElementById('message');
                const begin = document.getElementById('begin');

                if( '<%= userInfo.userType %>' == 'captain'){
                    message.innerText = 'You are a captain for this game!';
                }
                else {
                    message.innerText = 'Would you like to play trivia?';
                }

                const changeBG = () => {
                let userChoice = localStorage.getItem('userBG') ;
                if(userChoice == 'space'){
                    document.body.style.cssText = "background-image: url('/space.jpg'); color: white";
                }
                else if(userChoice == 'desert'){
                    document.body.style.cssText = "background-image: url('/desert.jpg'); color: white";
                }
                else if(userChoice == 'autumn'){
                    document.body.style.cssText = "background-image: url('/autumn.png'); color: white";
                }
                else if(userChoice == 'tropical'){
                    document.body.style.cssText = "background-image: url('/tropical.jpg'); color: white";
                }
                else if(userChoice == 'forest'){
                    document.body.style.cssText = "background-image: url('/forest.jpg'); color: white";
                }
                else if(userChoice == 'city'){
                    document.body.style.cssText = "background-image: url('/city.jpg'); color: white";
                }
                else {
                    document.body.style.cssText = "background-color: papayawhip; color: white";
                }
            };

            const countdownTimer = () => {
            //The + before the new Date is shorthand to tell JavaScript to cast the object as an integer, 
            //which gives you the object’s Unix timestamp represented as microseconds since the epoch.
            const difference = +new Date("<%= startInfo %>") - +new Date();
            let remaining = `<form method="post" action="/questions">
                                <button type="submit">Play Trivia</button>
                            </form>`;

            if (difference > 0) {
                const parts = {
                days: Math.floor(difference / (1000 * 60 * 60 * 24)),
                hours: Math.floor((difference / (1000 * 60 * 60)) % 24),
                minutes: Math.floor((difference / 1000 / 60) % 60),
                seconds: Math.floor((difference / 1000) % 60),
                };
                //remaining is now set equal to an array of the keys in parts. 
                //Since remaining is now an array, you can use the .map() method. 
                //The .map() method will iterate over each item in remaining and allow you to perform a function on each item.
                remaining = Object.keys(parts).map(part => {
                //bracket notation gives access to the value in the obj's key-value pair
                return `${parts[part]} ${part}`;
                }).join(" ");
            }

            if(difference <= 0) {
                begin.style.display = 'none';
            }

            document.getElementById("start").innerHTML = remaining;
            };

            countdownTimer();
            setInterval(countdownTimer, 1000);

            window.addEventListener('load', changeBG);
            </script>
    </body>
</html>