<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Woody's Tuesday Night Trivia</title>
        <!--<link href="/styles/index_styles.css" rel="stylesheet" type="text/css"/>-->
        <link href="/styles/chat_styles.css" rel="stylesheet" type="text/css"/>
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
        <style>
            .area {
                background: #0f9b0f;  
                background: -webkit-linear-gradient(to left, #000000,#0f9b0f); 
            }
        </style>
    </head>
<body onload="hideChat();">
    <main>
        <div class="area">
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

    <div id="chat_area">
        <h1>Woody's Trivia General Chat</h1>
        <button type="submit" id="join">Join</button>
        <div id="team_chat">
            <div id="chat-window">
                <div id="output">
                </div>
            </div>
            <div id="chat_foot">
                <input type="text" id="message" placeholder="Message"/>
                <button type="submit" id="send">Send</button>
            </div>
        </div>
    </div>
    </main>
    <script>
        const socket = io.connect();
        const team_chat = document.getElementById('team_chat');
        const chat_window = document.getElementById('chat-window');
        const output = document.getElementById('output');
        const message = document.getElementById('message');
        const join = document.getElementById('join');
        const send = document.getElementById('send');

        const hideChat = () => {
            team_chat.style.display = 'none';
        }

        const joinChat = () => {
            socket.emit('genChatJoin', {
                handle: `<%= userName %>`
            });
            join.style.display = 'none';
            team_chat.style.display = 'inline-block';
        };

        const sendMsg = () => {
            //object will contain msg and handle
            socket.emit('generalChat', {
                message: message.value,
                handle: `<%= userName %>`
            });

            message.value = '';
        };

        socket.on('genChatJoin', (data) => {
            //output.innerHTML += data;
            let rgx = /<button|<select|<form|<map|<table|<textarea|<input|<video|<ol|<ul|<script|<iframe|<img/gi;
            for(let x of data){
                let msg = x.replace(rgx, '');
                output.innerHTML += `<p>${msg}</p>`;
            }
        });
        //listen for chat from server
        socket.on('generalChat', (data) => {
            let rgx = /<button|<select|<form|<map|<table|<textarea|<input|<video|<ol|<ul|<script|<iframe|<img/gi;
            let newMsg = data.message.replace(rgx, '');
            output.innerHTML += `<p><strong>${data.handle}:</strong> ${newMsg}</p>`; 
        });

        join.addEventListener('click', joinChat);
        send.addEventListener('click', sendMsg);
        window.addEventListener('keydown', (e) => {
            e.which === 13 ? sendMsg() : -1;
        });

    </script>

</body>
</html>