<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Trivia</title>
        <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
        <link href="/styles/base.css" rel="stylesheet">
        <link href="/styles/login_styles.css" rel="stylesheet">
    </head>
    <header>
        <div class="logo">
            Woody's Trivia
        </div>        
    </header>
    <body>
        <main class="container"> 
        <section class="acctCreate">
            <!--send email notifying when a user wants to create an account
            email id associated with preferred team in nedb if approved
        for login page, require user to input email on file and team id they should've received via email-->
                <h2 class="userCreate">Create Player Account</h2>
            <form class="createForm" method="post" action="/validate">
                <label for="firstName">First Name</label><br>
                <input type="text" name="firstName" class="firstName" placeholder="John" required/><br>
                <label for="lastName">Last Name</label><br>
                <input type="text" name="lastName" class="lastName" placeholder="Doe" required/><br>
                <label for="team">Preferred Team</label><br>
                <input type="text" name="team" class="team" placeholder="The Best Trivia Team" required/><br>
                <label for="email">Email Address</label><br>
                <input type="email" name="email" class="email" placeholder="john.doe@email.com" required/><br><br>
              <input type="submit" value="Submit"/>
            </form>
        </section>
        <section class="acctLogin"> 
            <h2 class="loginSection">Login</h2>
            <a href="/user_login"><button class="userLogin">Login as Player</button></a><br><br>
            <a href="/admin_login"><button class="adminLogin">Login as Administrator</button></a> <br><br>
        </section>
        </main>
    </body>
</html>