<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Woody's Tuesday Night Trivia</title>
        <!--<link href="/styles/index_styles.css" rel="stylesheet" type="text/css"/>-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <style>
            body {
                max-width: 100%; overflow-x: hidden; 
            }
            .navRow {
                font-size: 2em;
                position: fixed;
                right: 5vw;
                top: 10vh;
                cursor: pointer;  
            } 
            .row {
                height: 10vh;
            }
            .row1 {
                margin-top: 20vh;
            }
            #mySelect {
                width: 80%;
                height: 40px;
            }
            .subTeam {
                margin-top: -5px;
                margin-left: 2px;
            }
        </style>
    </head>
    <body>
            <nav class="navbar fixed-top navbar-light bg-light">
                <button class="retrieve btn btn-outline-secondary">Pull Answers</button>
                <button type="submit" class="update btn btn-outline-secondary">Update Scores</button>
                <form class="reset_form" method="post" action="/reset">
                    <button type="submit" class="reset btn btn-outline-secondary">Reset Totals</button>
                </form>
                    <button type="submit" class="standings btn btn-outline-secondary">Show Standings</button>
                    <button type="submit" class="captain btn btn-outline-secondary">Update Captains</button>
                <form class="chat" method="post" action="/general_chat" target="_blank">
                    <button class="open_chat btn btn-outline-secondary" type="submit">Open Chat</button>
                    <input type="hidden" name="userName" value="Admin"/>
                </form>
              </nav>
    <div class="navRow">
        <form method="get" action="/">
            <button type="submit" class="btn btn-outline-secondary"> <i class="bi bi-house"></i></button>
        </form>
        <form method="post" action="/admin_home">
            <button type="submit" class="btn btn-outline-secondary"><i class="bi bi-arrow-left-square"></i></button>
        </form>
    </div>
        <div class="row"></div>
        <div class="row align-top">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <main class="answers"></main>
                <div class="results"></div>
            </div> 
        </div> 
        <div class="row row1">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h3 id="intro">Welcome, admin! Would you like to Pull Answers, Update Scores, Reset Totals, Show Standings, Update Captains or Open Chat?</h3>
            </div>
        </div>       
        <script>
            const answers = document.querySelector('.answers');
            const retrieve = document.querySelector('.retrieve');
            const reset_form = document.querySelector('.reset_form');
            const reset = document.querySelector('.reset');
            const openChat = document.querySelector('.open_chat');
            const intro = document.getElementById('intro');
            const results = document.querySelector('.results');
            const standings = document.querySelector('.standings');
            const update = document.querySelector('.update');
            const captain = document.querySelector('.captain');
            let selectList = document.createElement('select');
            selectList.id = 'mySelect';
            let buttn = document.createElement('button');
            let btn2 = document.createElement('button');
            let teamInfo = [];
            

            const updateUI = async () => { 
                hide_intro(); hide_body();                
                const res = await fetch(`/get_qs`);
                try {
                    //form.classList.add('hide');
                    const resp = await res.text();
                    try {
                        let parsed = JSON.parse(resp);
                        let categ = parsed.pop();
                        let fragment = document.createDocumentFragment(); 
                        for(let x of parsed){
                            i=1;
                            let para;
                            if(typeof x.question == 'undefined'){
                                para = document.createElement('br');
                                fragment.appendChild(para);
                            }
                            else {
                                para = document.createElement('p');
                                para.innerText = `${x.question}: ${x.q} Correct: ${x.correct} A: ${x.option1} B: ${x.option2} C: ${x.option3} D: ${x.option4}`;
                                fragment.appendChild(para);
                            }
                            i++
                        }
                        let pg = document.createElement('p');
                        pg.innerText = `Final Question Category: ${categ}`;

                        fragment.appendChild(pg);
                        answers.appendChild(fragment);
                    }
                    catch(err){
                        console.log(err);
                    }
                }
                catch(error){
                    console.log(error);
                }
            };

            const showStandings = async () => {
                hide_intro(); hide_body();                
                const res = await fetch(`/standings`);
                try {
                    //form.classList.add('hide');
                    const resp = await res.text();
                    try {
                        let parsed = JSON.parse(resp);
                        let newArr = parsed.sort((a, b) => (Number(a.runningTotal) < Number(b.runningTotal)) ? 1: -1);
                        //console.log(parsed);

                        let fragment = document.createDocumentFragment();
                        for(let x of newArr){
                            let para = document.createElement('p');
                            para.innerText = `${x.teamName} - Points: ${x.runningTotal} Last Question Answered: ${x.lastQuestionAnswered}`;
                            fragment.appendChild(para);
                        }
                        results.appendChild(fragment);
                    }
                    catch(err){
                        console.log(err);
                    }
                }
                catch(error){
                    console.log(error)
                }
            }

            const buttonSelect = (b) => {
                b.setAttribute('type', 'submit');
                b.setAttribute('class', 'subTeam btn btn-outline-secondary');
                b.innerText = 'Pick Team';
                answers.appendChild(b);
            }

            const updateScores = async(e) => {
                //console.log(e.currentTarget.classList);
                let currTarget =  e.currentTarget.classList;
                hide_intro(); hide_body(); 
                const res = await fetch(`/standings`);
                try {
                    //form.classList.add('hide');
                    const resp = await res.text();
                    try {
                        teamInfo = JSON.parse(resp);

                        selectList.innerHTML = '';
                        
                        for(let x of teamInfo){
                            let option = document.createElement('option');
                            option.value = teamInfo.indexOf(x);
                            option.text = x.teamName;
                            selectList.appendChild(option);
                        }
                        answers.appendChild(selectList);
                        if(currTarget.contains('update')){
                            buttonSelect(buttn);
                        }
                        else {
                            buttonSelect(btn2);
                        }
                        
                    }
                    catch(err){
                        console.log(err);
                    }               
                }
                catch(error){
                    console.log(error);
                }

            }  

            const selectTeam = () => {
                    let pickedTeam = mySelect.options[mySelect.selectedIndex].value;

                    answers.innerHTML = `
                    <h4>${teamInfo[pickedTeam].teamName}'s current score is ${teamInfo[pickedTeam].runningTotal}. How much you like to add or subtract from their score?</h4>
                            <form method="post" action="adjust_points" style="margin-top: 40px;">
                                <div style="display: inline-block;">
                                    <input type="number" style="height: 40px;" class="adjustPoints" name="points" min="-${teamInfo[pickedTeam].runningTotal}" max="${teamInfo[pickedTeam].runningTotal}" required />
                                    <input type="hidden" name="team" value="${teamInfo[pickedTeam].teamName}"/>
                                    <button class="buttn btn btn-outline-secondary" style="height: 40px; margin-left: 10px; margin-top: -5px;" type="submit">Submit</button>
                                </div>
                            </form>
                    `;
            }

            const selectTeamCap = (e) => {
                    let pickedTeam = mySelect.options[mySelect.selectedIndex].value;

                    answers.innerHTML = `
                    <h4>${teamInfo[pickedTeam].teamName}'s current team captain is ${teamInfo[pickedTeam].captain}. Type the new team captain's email below: </h4>
                            <form method="post" action="adjust_captain" style="margin-top: 40px;">
                                <div style="display: inline-block;">
                                    <input type="email" style="height: 40px;" class="adjustCaptain" name="email" required/>
                                    <input type="hidden" name="team" value="${teamInfo[pickedTeam].teamName}"/>
                                    <button class="btn2 btn btn-outline-secondary" style="height: 40px; margin-left: 10px; margin-top: -5px;" type="submit">Submit</button>
                                </div>
                            </form>
                    `;
            }

            const resetTotals = async(e) => {
                const re_set = confirm(`Are you sure you'd like to reset totals? If you confirm, all teams' logged-in users, running totals, final bets, last-question-answered values, and chats will reset to their original values.`);
                if(re_set){
                    reset_form.action = '/reset';
                }
                else {
                    e.preventDefault();
                }
            };

            const hide_intro = () => {
                intro.style.display = 'none';
            }
            const hide_body = () => {
                answers.innerHTML = '';
                results.innerHTML = '';
            };

            retrieve.addEventListener('click', updateUI);
            reset.addEventListener('click', resetTotals);
            standings.addEventListener('click', showStandings);
            update.addEventListener('click', updateScores);
            captain.addEventListener('click', updateScores);
            buttn.addEventListener('click', selectTeam);
            btn2.addEventListener('click', selectTeamCap);

        </script>
    
    </body>
    </html>