<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Woody's Tuesday Night Trivia</title>
        <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
        <link href="/styles/base.css" rel="stylesheet" type="text/css"/>
        <link href="/styles/login_styles.css" rel="stylesheet">
        <style>
            .info {
                font-size: 1.25em;
            }
        </style>
    </head>
    <body>
        <main>
            <section>
                    <p class="info">Your request to create an account is being reviewed. You will receive an email from us shortly.</p><br>
                    <a href='/'><button>Home</button></a>
            </section>
        </main>
    </body>
</html>