body {
    background-color: papayawhip;
    margin: 0;
    padding: 0;
    max-height: 100vh;
    overflow: hidden;
}

.signin {
    display: grid;
    margin-top: -35vh;
    height: 50vh;
    width: 40vw;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(6, minmax(40px, 1fr));
    font-size: 2em;
}

.error {
    grid-column: 1/-1;
    font-size: 0.75em;
    color: red;
    text-align: center;
}

.logo {
    width: 100%;
    background-color: bisque;
}

label {
    grid-column: 1;
}

input[type='email'], input[type='password'], select {
    grid-column: 2;
    height: 30px;
}

.buttons {
    display: grid;
    grid-gap: 20px;
    width: 200%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 50px 50px;
}

#pick_theme {
    grid-column: 2;
}

#sub {
    grid-column: 2;
}

@media(max-width: 1400px){
    .signin {
        font-size: 1.75em;
    }
}

@media(max-width: 1200px){
    .signin {
        width: 60vw;
    }
}

@media(max-width: 1050px){
    .signin {
        font-size: 1.5em;
    }
}