body {
    margin: 0;
    padding: 0;
    color: white;
    background: -webkit-linear-gradient(top, #020102 1%,#e12b2e 100%);
}
input, button {
    width: 100%;
    font-size: 00.9em;
}
.logo {
    width: 100%;
    background: none;
    /*background-image: url('/wood-grain.jpg');*/
}
.container {
    display: grid;
    grid-template-rows: 40vh 40vh;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1200px){
    button {
        width: 100%;
    }
    .acctCreate input, .acctLogin input {
        width: 100%;
        font-size: 1.25em;
    }
    main {
        display: grid;
        grid-template-columns: 20vw 60vw 20vw;
        justify-content: center;
        align-items: center;
    }
    .container {
        display: grid;
        grid-template-rows: repeat(3, minmax(33vh, auto));
        justify-content: center;
        align-items: center;
    } 
    .acctLogin {
        text-align: center;
        display: grid;
        grid-template-rows: repeat(3, auto);
        gap: 2%;
        align-items: center;
        justify-content: center;
    }
    .userLogin, .adminLogin {
        border-radius: 20px;
        width: 50vw;
        font-size: 00.9em;
        height: 40px;
        margin: 0;
    }
}

@media only screen and (max-width: 922px){
    main {
        display: grid;
        grid-template-columns: 5vw 90vw 5vw;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-height: 720px){
    .logo {
        font-size: 4em;
    }
    .acctLogin {
        margin-top: -10vh;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .userLogin, .adminLogin {
        border-radius: 20px;
        width: 40vw;
        font-size: 00.9em;
        height: 40px;
        margin: 0;
    }
    .loginSection {
        display: none;
    }
}