body {
    margin: 0;
    padding: 0;
    color: white;
    background: -webkit-linear-gradient(top, #020102 1%,#e12b2e 100%);
}
.logo {
    width: 100%;
    background: none;
    /*background-image: url('/wood-grain.jpg');*/
}
.container {
    display: grid;
    grid-template-rows: 40vh 40vh;
    justify-content: center;
    align-items: center;
}